html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#f5adff, #edd7ff);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#page-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  padding: 20px;
}

/* Centrage spécifique de la section Rules */
.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column; 
}

.rules summary {
  background-color: rgba(230, 230, 250, 0.7); 
  border: 1px solid white;
  border-radius: 26px;
  width: 250px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: block; 
  margin: 0 auto; 
}

.rules #steps {
  border: 1px solid white;
  border-radius: 26px;
  width: 250px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9); 
}

/* Section Scores */
#scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

/* Section Options */
#options h2 {
  margin-top: 40px;
  text-align: center;
}

#options div {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

#options button {
  background-color: rgba(156, 133, 2, 0.849);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 26px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

#options button:hover {
  background-color: rgba(200, 170, 10, 0.849); 
  color: black;
}

.results-container {
  border: 1px solid black;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  #options div {
    flex-direction: column;
    gap: 15px;
  }
}
